@use "../variables";
@use "../mixins";

.answers {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.answers.is-active {
  display: block;
}

.answers__item p {
  padding-right: 200px;
  font-size: 18px;
  line-height: 25px;
  transition: all variables.$trans-default;
  overflow: hidden;

  @include mixins.vp-tablet {
    padding-right: 118px;
  }

  @include mixins.vp-mobile {
    padding-right: 0;
  }
}

.answers__item.is-active p {
  margin-top: 11px;
  margin-bottom: -1px;

  @include mixins.vp-tablet {
    margin-top: 7px;
  }
}

.answers__item {
  position: relative;
  max-height: 500px;
  margin-bottom: -1px;
  padding: 25px 0 24px;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.answers__item button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 42px;
  font-size: 24px;
  font-family: variables.$ff-secondary;
  padding: 0 48px 0 0;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  color: variables.$color-basic;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all variables.$trans-default;

  @include mixins.vp-mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

.answers__sign {
  position: absolute;
  top: calc(50% - 21px);
  right: 0;
  width: 42px;
  height: 42px;
  border: 1px solid variables.$color-basic;
  border-radius: 50%;
  transition: variables.$trans-default;
  pointer-events: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 9px);
    height: 1px;
    width: 18px;
    background-color: variables.$color-basic;
    transition: all 0.4s ease-in-out;
  }

  &::before {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: variables.$color-basic;
  }

  &:hover::after,
  &:hover::before {
    background-color: variables.$color-default-white;
  }
}

.answers__item.is-active .answers__sign {
  background-color: variables.$color-basic;

  &::after {
    background-color: variables.$color-default-white;
    transform: rotate(180deg);
  }

  &::before {
    background-color: variables.$color-default-white;
    transform: rotate(360deg);
  }
}

.answers button:focus {
  outline: none;
}

.answers button:hover .answers__sign,
.answers button:focus .answers__sign,
{
  background-color: variables.$color-basic;

  &::after,
  &::before {
    background-color: variables.$color-default-white;
  }
}

.answers__item button ~ .animated {
  overflow: hidden;
}

.answers__item.is-active button ~ .animated {
  animation: sweep 1.5s ease;
}

@keyframes sweep {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 2000px;
  }
}
