@use "../variables";
@use "../mixins";

.answers {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.answers.is-active {
  display: block;
}

.answers__item {
  position: relative;
}

.answers p {
  margin-top: 15px;
  padding-right: 200px;
  font-size: 18px;
  line-height: 23px;
  transition: all variables.$tf-default;
  overflow: hidden;

  @include mixins.vp-tablet {
    padding-right: 118px;
  }

  @include mixins.vp-mobile {
    padding-right: 0;
  }
}

.answers details {
  max-height: 500px;
  margin-bottom: -1px;
  padding: 25px 0;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.answers summary {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 42px;
  font-size: 24px;
  padding-right: 48px;
  font-weight: 600;
  line-height: 29px;
  list-style: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  @include mixins.vp-mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

.answers__sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  border: 1px solid variables.$color-basic;
  border-radius: 50%;
  transition: variables.$trans-default;
  pointer-events: none;

  &::after, &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 9px);
    height: 1px;
    width: 18px;
    background-color: variables.$color-basic;
    transition: all .4s ease-in-out;
  }

  &::before {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: variables.$color-basic;
  }

  &:hover::after, &:hover::before {
    background-color: variables.$color-default-white;
  }
}

.answers details[open] .answers__sign {
  background-color: variables.$color-basic;

  &::after {
    background-color: variables.$color-default-white;
    transform: rotate(180deg);
  }

  &::before {
    background-color: variables.$color-default-white;
    transform: rotate(360deg);
  }
}

.answers summary:hover .answers__sign {
  background-color: variables.$color-basic;

  &::after, &::before {
    background-color: variables.$color-default-white;
  }
}

.answers details summary ~ .animated {
  overflow: hidden;
}
.answers details[open] summary ~ .animated {
  animation: sweep 1.5s ease;
}

@keyframes sweep {
  0%    {max-height:0;}
  100%  {max-height:2000px;}
}
