@use "../variables";
@use "../mixins";

.btn {
  display: block;
  padding: 21px;
  font-size: 12px;
  font-family: variables.$ff-secondary;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$color-default-white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 4px solid variables.$color-default-white;
  outline-offset: -2px;
  transition: all variables.$trans-default;

  &:hover, &:focus {
    color: variables.$color-additional;
    background-color: variables.$color-default-white;
  }

  &:active {
    color: variables.$color-basic;
    background-color: variables.$color-default-white;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--dark {
    color: variables.$color-basic;
    outline: 2px solid variables.$color-basic;

    &:hover, &:focus, &-active {
      color: variables.$color-default-white;
      background-image: linear-gradient(97.05deg,#ED0233 0%, #003EB7 100%);
      outline: 2px solid transparent;
    }
  }
}
