@use "../variables";
@use "../mixins";

.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: variables.$color-default-white;

  background-color: variables.$color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity variables.$trans-default;

  &--red {
    background-color: variables.$color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include mixins.hover-focus {
    opacity: 0.8;
  }
}
