@use "../variables";
@use "../mixins";

.contacts {
  background-image: linear-gradient(90deg, variables.$color-basic 50%, variables.$color-default-white 50%);
  border-top: 1px solid transparent;
  border-image: linear-gradient(90deg, #102654 50%, #74819c 50%) 1;

  @include mixins.vp-tablet {
    background-image: none;
    border: none;
  }
}

.contacts .contacts__container {
  display: flex;
  padding: 0;

  @include mixins.vp-tablet {
    display: block;
  }
}

.contacts form {
  width: 50%;
  padding: 64px 170px 63px 103px;
  color: variables.$color-default-white;
  background-color: variables.$color-basic;

  @include mixins.vp-tablet {
    width: 100%;
    padding: 64px 163px 68px 133px;
  }

  @include mixins.vp-mobile {
    padding: 63px 15px 67px;
  }
}

.contacts__us {
  width: 50%;
  padding: 56px 100px 63px 123px;

  @include mixins.vp-tablet {
    width: 100%;
    padding: 62px 133px 65px 133px;
  }

  @include mixins.vp-mobile {
    padding: 64px 15px 62px;
  }
}

.contacts h3 {
  margin-bottom: 30px;
  font-size: 54px;
  font-family: variables.$ff-primary;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: variables.$letter-space;

  @include mixins.vp-tablet {
    margin-bottom: 28px;
    font-size: 42px;
    line-height: 50px;
  }

  @include mixins.vp-mobile {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 38px;
  }
}

.contacts__us h3 {
  letter-spacing: 0.02em;
}

.contacts form h3 {
  margin-bottom: 22px;

  @include mixins.vp-tablet {
    margin-bottom: 28px;
  }

  @include mixins.vp-mobile {
    margin-bottom: 30px;
  }
}

.contacts fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 30px;
  margin: 0 0 27px;
  padding: 0;
  border: none;

  @include mixins.vp-tablet {
    gap: 60px;
  }

  @include mixins.vp-mobile {
    margin-bottom: 38px;
    gap: 28px;
    grid-template-columns: 1fr;
  }
}

.contacts input {
  width: 100%;
  padding: 9px 0 5px;
  font-size: 14px;
  font-family: variables.$ff-secondary;
  font-weight: 400;
  line-height: 18px;
  border: none;
  outline: none;
  color: variables.$color-default-white;
  background-color: variables.$color-basic;
  border-bottom: 1px solid #74819c;
  transition: all variables.$trans-default;

  &:hover {
    border-bottom: 1px solid variables.$color-default-white;
  }

  &:focus,
  &:active {
    padding: 9px 5px 5px;
    outline: 1px solid variables.$color-default-white;
    outline-offset: -1px;
  }

  &[aria-invalid="true"] {
    border-bottom: 1px solid variables.$color-error;
  }
}

.contacts input::placeholder {
  color: variables.$color-default-white;
}

.contacts__btn {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 16px;
  outline: 3px solid variables.$color-default-white;
  outline-offset: -3px;
}

.contacts h4 {
  margin-bottom: 4px;
  font-weight: 700;

  @include mixins.vp-tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px 121px;
  padding-top: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 6px;
    left: 50%;
    width: 1px;
    background-color: #74819c;
    transform: translateX(-50%);
  }

  @include mixins.vp-tablet {
    grid-template-columns: 1fr 1fr;
    gap: 19px 97px;

    &::before {
      left: calc(55% - 10px);
    }
  }

  @include mixins.vp-mobile {
    grid-template-columns: 1fr;
    gap: 21px;
    margin-top: 8px;

    &::before {
      width: 0;
    }
  }
}

.contacts p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @include mixins.vp-tablet {
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
  }

  a {
    color: variables.$color-basic;
    transition: all variables.$trans-default;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
      outline: none;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.contacts__content {
  &--schedule {
    grid-row: 2/3;
  }
}
