@use "../mixins";
@use "../variables";

.footer {
  position: relative;
  padding: 39px 0;
  background-color: variables.$color-footer;

  @include mixins.vp-tablet {
    padding: 40px 0;
  }

  @include mixins.vp-mobile {
    padding: 42px 0 52px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @include mixins.vp-mobile {
    display: block;
  }
}

.footer__logo {
  padding-top: 13px;
  display: flex;
  align-items: end;

  @include mixins.vp-tablet {
    padding-top: 7px;
  }

  @include mixins.vp-mobile {
    align-items: center;
    padding-top: 0;
    height: 32px;
  }
}

.footer__icon {
  width: 88px;
  color: variables.$color-default-white;

  @include mixins.vp-tablet {
    width: 82px;
  }

  @include mixins.vp-mobile {
    width: 68px;
  }
}

.footer__navigation-list {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 22px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mixins.vp-tablet {
    gap: 12px;
  }

  @include mixins.vp-mobile {
    display: block;
    column-count: 2;
    gap: 29px;
    margin-bottom: 15px;
  }
}

.footer__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: variables.$color-default-white;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      left: 10px;
      right: 10px;
      background-color: variables.$color-default-white;
    }
  }

  &:focus {
    outline: 1px solid variables.$color-default-white;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }

  @include mixins.vp-mobile {
    margin-bottom: 9px;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 16px;
    padding: 0;

    &:hover {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }
}

.footer__navigation-item {
  @include mixins.vp-mobile {
    margin-bottom: 9px;
  }

  &--logo {
    grid-row-start: 1;
    grid-row-end: -1;
    margin-right: 243px;
  }

  @include mixins.vp-tablet {
    &--logo {
      margin-right: 233px;
    }
  }

  @media (max-width: 1060px) {
    &--logo {
      margin-right: 150px;
    }
  }

  @media (max-width: 970px) {
    &--logo {
      margin-right: 100px;
    }
  }

  @media (max-width: 860px) {
    &--logo {
      margin-right: 50px;
    }
  }

  @media (max-width: 768px) {
    &--logo {
      margin-right: 5vw;
    }
  }
}

.footer__navigation {
  @include mixins.vp-tablet {
    flex-grow: 1;
  }
}

.footer__navigation-item:nth-child(5n+7) {
  grid-column-start: 2;
}
