@use "../mixins";
@use "../variables";

.footer {
  position: relative;
  padding: 38px 0;
  background-color: variables.$color-footer;

  @include mixins.vp-tablet {
    padding: 45px 0;
  }

  @include mixins.vp-mobile {
    padding: 50px 0;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.vp-mobile {
    display: block;
  }
}

.footer__logo {
  @include mixins.vp-mobile {
    position: absolute;
    top: 54px;
  }
}

.footer__icon {
  width: 88px;
  color: variables.$color-default-white;

  @include mixins.vp-tablet {
    width: 82px;
  }

  @include mixins.vp-mobile {
    width: 68px;
  }
}

.footer__navigation-list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mixins.vp-tablet {
    gap: 10px;
  }

  @include mixins.vp-mobile {
    display: block;
    column-count: 2;
    gap: 10px;
    margin-bottom: 18px;
  }
}

.footer__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: variables.$color-default-white;

  &:hover {
    box-shadow: 0 1px 0 0 variables.$color-default-white;
  }

  &:focus {
    outline: 1px solid variables.$color-default-white;
  }

  &:active {
    outline: none;
  }

  &:active {
    border-bottom: 1px solid transparent;
  }

  @include mixins.vp-mobile {
    margin-bottom: 14px;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }
}

.footer__navigation-item:first-child {
  @include mixins.vp-mobile {
    margin-top: 48px;
  }
}
