@use "../variables";
@use "../mixins";

.gym {
  padding: 120px 0 234px;

  @include mixins.vp-tablet {
    padding: 100px 0 183px;
  }

  @include mixins.vp-mobile {
    padding: 64px 0;
  }
}

.gym__container {
  position: relative;
  display: grid;
  grid-template-columns: 413px 1fr;
  gap: 85px;

  @include mixins.vp-tablet {
    grid-template-columns: 1fr;
    gap: 43px;
  }

  @include mixins.vp-mobile {
    padding: 0;
    gap: 33px;
  }
}

.gym__content {
  max-width: 355px;
  margin: 13px 0 0 60px;

  @include mixins.vp-tablet {
    margin: 0 auto;
    text-align: center;
  }

  @include mixins.vp-mobile {
    padding: 0 15px;
    text-align: left;
  }
}

.gym h2 {
  margin-bottom: 11px;
  margin-top: 25px;
  font-size: 48px;
  font-family: variables.$ff-primary;
  line-height: 57.6px;
  font-weight: 600;
  letter-spacing: variables.$letter-space;

  @include mixins.vp-tablet {
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 3px;
    font-size: 42px;
    line-height: 50px;
  }

  @include mixins.vp-mobile {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 9px;
  }
}

.gym h3 {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;

  @include mixins.vp-tablet {
    margin-bottom: 40px;
  }

  @include mixins.vp-mobile {
    margin-bottom: 29px;
  }
}

.gym__video-wrapper {
  position: absolute;
  left: calc(50% - 144px);
  top: 288px;
  display: block;
  width: 364px;
  height: 228px;
  background-color: variables.$color-default-black;

  @include mixins.vp-tablet {
    left: calc(50% - 133px);
    top: 487px;
    width: 266px;
    height: 167px;
  }

  @include mixins.vp-mobile {
    position: relative;
    left: auto;
    top: auto;
    width: 320px;
    margin: 0 auto;
  }
}


.gym__play-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-image: url("../img/svg/play-button.svg");
    background-repeat: no-repeat;
    transition: all variables.$trans-default;
    background-size: cover;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/svg/play-button-hover.svg");
  }

  &:active::after {
    background-image: url("../img/svg/play-button-active.svg");
  }

  &:disabled {
    cursor: auto;
  }

  &:disabled::after {
    background-image: url("../img/svg/play-button-disabled.svg");
  }

  @include mixins.vp-tablet {
    width: 266px;
    height: 167px;

    &::after {
      top: calc(50% - 36.5px);
      left: calc(50% - 36.5px);
      width: 73px;
      height: 73px;
    }
  }

  @include mixins.vp-mobile {
    width: 320px;
  }
}

.gym__button-image {
  @include mixins.vp-mobile {
    width: 100%;
    height: 167px;
  }
}

.gym p {
  margin-bottom: 7px;

  @include mixins.vp-tablet {
    margin-bottom: 0;
  }
}

.gym picture {
  margin: 0 auto;
}

.gym img {
  width: 660px;
  height: 401px;
  object-fit: cover;

  @include mixins.vp-tablet {
    width: 678px;
    height: 345px;
  }

  @include mixins.vp-mobile {
    margin-bottom: 7px;
    width: 320px;
    height: 313px;
  }
}

.gym__play-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gym__video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
