@use "../mixins";
@use "../variables";

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  display: block;
  font-size: 26px;
  font-family: variables.$ff-primary;
  line-height: 31px;
  font-weight: 600;
  color: currentColor;
  letter-spacing: variables.$letter-space;
  transition: all variables.$trans-default;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  @include mixins.vp-tablet {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  @include mixins.vp-mobile {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

.navigation__logo {
  @include mixins.vp-tablet {
    width: 82px;
  }

  @include mixins.vp-mobile {
    margin-top: 5px;
    width: 69px;
  }
}
