@use "../variables";
@use "../mixins";

.offers {
  padding: 136px 0 128px;

  @include mixins.vp-tablet {
    padding: 96px 0 100px;
  }

  @include mixins.vp-mobile {
    padding: 66px 0 70px;
  }
}

.offers h2 {
  margin-bottom: 34px;
  font-size: 54px;
  font-family: variables.$ff-primary;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  letter-spacing: variables.$letter-space;

  @include mixins.vp-tablet {
    margin-bottom: 44px;
    margin-left: -10px;
    font-size: 42px;
    line-height: 42px;
  }

  @include mixins.vp-mobile {
    margin-left: 0;
    font-size: 32px;
    line-height: 32px;
  }
}

.offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mixins.vp-tablet {
    gap: 30px;
  }

  @include mixins.vp-mobile {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 17px 28px 20px;
  border: 7px solid transparent;
  border-image: linear-gradient(149deg, #ed0233 1%, #003eb7 100%) 1;

  &--large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-row: 1/3;
    border: none;
    color: variables.$color-default-white;
    background-color: variables.$color-banner;
  }

  @include mixins.vp-tablet {
    &--large {
      grid-template-columns: 1fr 399px;
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }

  @include mixins.vp-mobile {
    padding: 28px 28px 31px;

    &--large {
      padding: 0;
      grid-template-columns: 1fr;
      grid-column: 1/2;
    }
  }
}

.offers h3 {
  margin-bottom: 3px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;

  @include mixins.vp-mobile {
    margin-bottom: 8px;
  }
}

.offers p {
  font-weight: 400;

  @include mixins.vp-mobile {
    line-height: 19px;
  }
}

.offers a {
  position: relative;
  display: block;
  width: min-content;
  margin-top: auto;
  margin-left: -10px;
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: variables.$color-basic;
  letter-spacing: variables.$letter-space;
  text-transform: uppercase;
  transition: all variables.$trans-default;

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 8px;
    border-bottom: 1px solid currentColor;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus::after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border: 1px solid currentColor;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    opacity: 1;
  }

  &:active::after {
    left: 10px;
    right: 10px;
    bottom: 8px;
    border-bottom: 1px solid currentColor;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  @include mixins.vp-mobile {
    margin-left: auto;
    margin-right: auto;
  }
}

.offers__list-content {
  display: flex;
  flex-direction: column;
  padding: 35px 45px 37px;
}

.offers__item--large h3 {
  font-size: 28px;
}

.offers h3 span {
  display: block;
  margin-bottom: 16px;
  font-size: 70px;
  line-height: 70px;

  @include mixins.vp-mobile {
    margin-bottom: 7px;
  }
}

.offers__item--large p {
  font-size: 18px;
  line-height: 23px;

  @include mixins.vp-mobile {
    margin-bottom: 22px;
  }
}

.offers__item--large a {
  font-size: 14px;
  line-height: 16px;
  color: variables.$color-default-white;
}

.offers img {
  width: 280px;
  height: 100%;
  object-fit: cover;
  object-position: top;

  @include mixins.vp-tablet {
    width: 399px;
    height: 462px;
  }

  @include mixins.vp-mobile {
    width: 100%;
    height: 299px;
  }
}
