@use "../variables";

.page__body {
  min-width: 320px;
  font-size: 16px;
  font-family: variables.$ff-secondary;
  line-height: 24px;
  font-weight: 300;
  color: variables.$color-basic;
  background-color: variables.$color-default-white;
}
