@use "../variables";
@use "../mixins";

.reviews {
  padding: 120px 0;

  @include mixins.vp-tablet {
    padding: 96px 0 99px;
  }

  @include mixins.vp-mobile {
    padding: 66px 0 70px;
  }
}

.reviews__button-container {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

.reviews__button-prev,
.reviews__button-next {
  @include mixins.next-prev-buttons;
}

.reviews__button-prev {
  @include mixins.prev-button;
}

.reviews__button-next {
  @include mixins.next-button;
}

.reviews__swiper {
  width: 560px;
  margin: 0 auto;

  @include mixins.vp-tablet {
    width: 566px;
  }

  @include mixins.vp-mobile {
    width: 226px;
  }
}

.reviews h2 {
  margin-bottom: 37px;
  font-size: 54px;
  font-family: variables.$ff-primary;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: variables.$letter-space;
  text-align: center;

  @include mixins.vp-tablet {
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 42px;
  }

  @include mixins.vp-mobile {
    margin-bottom: 45px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0 28px;
  padding: 61px 62px 54px;
  background-color: #1c3374;
  color: variables.$color-default-white;

  @include mixins.vp-tablet {
    padding: 60px 65px 56px;
  }

  @include mixins.vp-mobile {
    grid-template-columns: 85px 1fr;
    gap: 13px 15px;
    padding: 40px 25px 34px;
  }
}

.reviews img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;

  @include mixins.vp-mobile {
    width: 68px;
    height: 68px;
  }
}

.reviews h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  @include mixins.vp-mobile {
    margin-bottom: 0;
    line-height: 26px;
    align-self: center;
  }
}

.reviews p {
  line-height: 23px;
  font-weight: 400;

  @include mixins.vp-mobile {
    grid-column: 1/3;
    text-align: center;
    line-height: 22.5px;
  }
}

.reviews__picture {
  grid-row: 1/3;

  @include mixins.vp-mobile {
    margin-left: 16px;
    grid-row: 1/2;
  }
}
