@use "../variables";
@use "../mixins";

.staff {
  padding-bottom: 106px;

  @include mixins.vp-tablet {
    padding-bottom: 100px;
  }

  @include mixins.vp-mobile {
    padding-bottom: 70px;
  }
}

.staff .staff__container {
  @include mixins.vp-tablet {
    padding: 0 101px;
  }

  @include mixins.vp-mobile {
    padding: 0 47px;
  }
}

.staff h2 {
  font-size: 54px;
  font-family: variables.$ff-primary;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: variables.$letter-space;
  margin-bottom: 48px;

  @include mixins.vp-tablet {
    margin-bottom: 31px;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
  }

  @include mixins.vp-mobile {
    margin-left: -5px;
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.staff__button-next,
.staff__button-prev {
  @include mixins.next-prev-buttons;
}

.staff__button-next {
  @include mixins.next-button;
}

.staff__button-prev {
  @include mixins.prev-button;
}

.staff__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.staff__swiper {
  max-width: 1160px;
}

.staff__button-container {
  position: relative;
  margin: 0 auto;
}
