@use "../variables";
@use "../mixins";

.subscription {
  padding: 120px 0;
  background-color: variables.$color-additional-background;
  text-align: center;


  @include mixins.vp-tablet {
    padding: 101px 0;
  }

  @include mixins.vp-mobile {
    padding: 70px 0;
  }
}

.tabs-content__list {
  display: none;

  &--active {
    display: block;
  }
}

.subscription h2 {
  margin-bottom: 4px;
  font-size: 54px;
  font-family: variables.$ff-primary;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: variables.$letter-space;

  @include mixins.vp-tablet {
    margin-left: -14px;
    font-size: 42px;
    line-height: 53px;
  }

  @include mixins.vp-mobile {
    font-size: 32px;
    line-height: 38px;
  }
}
