@use "../variables";
@use "../mixins";

.trainer {
  padding: 0;
  margin: 0;
  list-style: none;
}

.trainer__item {
  width: 260px;
  position: relative;
  text-align: center;
  color: variables.$color-default-white;
  aspect-ratio: 260/294;
  overflow: hidden;

  @include mixins.vp-tablet {
    aspect-ratio: 268/294;
  }

  @include mixins.vp-mobile {
    aspect-ratio: 226/274;
  }
}

.trainer h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
}

.trainer p {
  display: none;
  margin-bottom: 32px;
  font-weight: 400;
  color: #b6bdcc;
}

.trainer__wrapper {
  position: absolute;
  top: 66%;
  width: 100%;
  height: 100%;
  padding: 56px 41px 17px 44px;
  background-color: transparent;
  transition: all variables.$trans-default;
  overflow: auto;

  @include mixins.vp-mobile {
    padding: 45px 25px 48px 25px;
  }
}

.trainer ul {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 26px;
  list-style: none;
}

.trainer li {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 6.5px;
    width: 6px;
    height: 6px;
    background-color: variables.$color-default-white;
    border-radius: 50%;
  }
}

.trainer__item:hover .trainer__wrapper,
.trainer__item:focus .trainer__wrapper {
  top: 0;
  background-color: rgba(16, 38, 84, 0.89);
}

.trainer__item:hover ul,
.trainer__item:hover p,
.trainer__item:focus ul,
.trainer__item:focus p {
  display: block;
}

.trainer img {
  width: 100%;
  aspect-ratio: 260/294;
  object-fit: cover;

  @include mixins.vp-tablet {
    aspect-ratio: 268/294;
  }

  @include mixins.vp-mobile {
    aspect-ratio: 226/274;
  }
}

.trainer__item li {
  margin-bottom: 13px;
}
