@use "variables";

@mixin retina {
  @media (min-resolution: variables.$retina-dpi), (min-resolution: variables.$retina-dppx) {
    @content;
  }
}

@mixin supports-webp($image-path) {
  @supports (background-image: url("#{$image-path}.webp")) {
    background-image: url("#{$image-path}.webp");
  }
}


@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first


@mixin vp-tablet {
  @media (max-width: (variables.$vp-tablet - 1px)) {
    @content;
  }
}

@mixin vp-mobile {
  @media (max-width: (variables.$vp-mobile - 1px)) {
    @content;
  }
}

@mixin line-advantages {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -78px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
  }
}

@mixin next-prev-buttons {
  position: absolute;
  top: calc(52% - 32px);
  width: 56px;
  height: 56px;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: all variables.$trans-default;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    width: 22.64px;
    height: 22.64px;
    border-bottom: 1px solid variables.$color-basic;
    border-left: 1px solid variables.$color-basic;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    border: 1px solid variables.$color-basic;
  }

  &:not(:disabled):active {
    background-color: variables.$color-basic;

    &::after {
      border-left: 1px solid variables.$color-default-white;
      border-bottom: 1px solid variables.$color-default-white;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  @include vp-mobile {
    width: 40px;
    height: 40px;

    &::after {
      top: 7px;
    }
  }
}

@mixin next-button {
  right: -75px;

  &::after {
    left: 8px;
    transform: rotate(-135deg);
  }

  @include vp-mobile {
    right: -42px;

    &::after {
      left: 1px;
    }
  }
}

@mixin prev-button {
  left: -75px;

  &::after {
    right: 8px;
    transform: rotate(45deg);
  }

  @include vp-mobile {
    left: -42px;

    &::after {
      right: 1px;
    }
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
